NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://postgres:password@localhost:5432/todoflow?schema=public"

JWT_SECRET=replace_with_a_long_random_string
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:3000